.users-online-card {
    display: none;
}

@media (min-width : 768px) {
    .users-online-card {
        display: flex;
        flex-direction: column;
        padding: var(--space-2);
    }
}

.users-online-card__title {
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
    color: var(--color-text-muted);

}


.users-online-card__users-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}