/*RoundButton.css*/
.btn--round {
    height: var(--space-6);
    width: var(--space-6);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    background-color: var(--color-primary-soft);
    color: var(--color-text-on-secondary);
    border: 2px solid var(--color-border);
    transition: var(--transition-base);
    cursor: pointer;

}

.btn--round:hover {
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
}

.btn--story {
    background: var(--color-gradient-primary);
    color: var(--color-text-on-primary);
    border: 2px solid var(--color-border);
}