.profile-card__user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--space-md);
    padding: var(--space-2);
}


.user-info--location-icon {
    width: 16px;
    height: 16px;
    color: var(--color-primary);
}