.post-media {
    display: flex;
    flex-direction: column;
}

.post-media__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-1);
}

.post-media__images:has(img:only-child) {
    grid-template-columns: 1fr;
}

.post-media__images:has(img:nth-child(3):last-child) img:first-child {
    grid-column: 1 / -1;
    aspect-ratio: 16 / 9;
}

.post-media__img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
    display: block;
}

.post-media__profile-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-6);
    padding: var(--space-4);
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
}

.post-media__detail {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.post-media__category {
    color: var(--color-text-muted);
}

.post-media__category-content {
    font-size: var(--fs-sm);
}